<style>
	body
	{
	font-family: Arial, Helvetica, sans-serif;
  	background-image:url('.jpg')  ; 
   	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover; 
  	height :100%;
  	background-color: #222;
  	color: red;
  	width: 100%;
  	margin: auto;

	}
	.topnav {
  overflow: hidden;
  background-color: transparent;
  width: 50%;
  padding: auto;
  margin: auto;
text-align: center;

}

.topnav a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 27px;
  display: flex;
 float: left;
   cursor: pointer;
}
.topnav a:hover {
  background-color: transparent;
  color: red;
 letter-spacing: 1px;
  transition: 0.5s;
  font-size: 30Px;
  opacity: 0.8;
    cursor: pointer;
}
.topnav a.active{
  background-color: transparent;
  color: black;
  font-size: 27px;
  font-style: bold;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0px 0;
}

/* Avatar image */
img.avatar {
padding-bottom: 20px;
	margin: -10px 40px;
  width: 80%;
  border: groove;
  border-color:red ;

}

/* Add padding to containers */
.container {
  padding: 50px;
}
.sologon
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: auto;
	width: 50%;
	border: none;
	padding-bottom: 20px;

}
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: auto;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}
</style>